// ==> INSPECTOR NAVIGATION

$clipNav: (
	"video": (
		id: 1,
		bgPos: 13px 8px,
		bgPosActive: 11px 6px,
		bgSize: 21px 13px,
		bgSizeActive: 24px 18px,
	),
	"sizing": (
		id: 2,
		bgPos: 13px 8px,
		bgPosActive: 11px 7px,
		bgSize: 21px 13px,
		bgSizeActive: 25px 16px,
	),
	"audio": (
		id: 3,
		bgPos: 11px 5px,
		bgPosActive: 11px 5px,
		bgSize: 25px 19px,
		bgSizeActive: 25px 19px,
	),
	"color": (
		id: 4,
		bgPos: 11px 4px,
		bgPosActive: 12px 4px,
		bgSize: 25px 21px,
		bgSizeActive: 23px 21px,
	),
	"effects": (
		id: 5,
		bgPos: 14px 4px,
		bgPosActive: 13px 2px,
		bgSize: 21px 20px,
		bgSizeActive: 23px 24px,
	),
	"file": (
		id: 6,
		bgPos: 11px 4px,
		bgPosActive: 11px 4px,
		bgSize: 25px 21px,
		bgSizeActive: 25px 21px,
	),
);

$textNav: (
	"text": (
		id: 1,
		bgPos: 8px 0px,
		bgPosActive: 15px 7px,
		bgSize: 32px 32px,
		bgSizeActive: 16px 18px,
	),
	"frame": (
		id: 2,
		bgPos: 8px 0,
		bgPosActive: 8px 0,
		bgSize: 30px 32px,
		bgSizeActive: 30px 32px,
	),
	"style": (
		id: 3,
		bgPos: 9px 0,
		bgPosActive: 9px 0,
		bgSize: 30px 32px,
		bgSizeActive: 30px 32px,
	),
	"settings": (
		id: 4,
		bgPos: 12px 9px,
		bgPosActive: 11px 8px,
		bgSize: 22px 16px,
		bgSizeActive: 25px 20px,
	),
	"video": (
		id: 4,
		bgPos: 13px 9px,
		bgPosActive: 11px 7px,
		bgSize: 21px 13px,
		bgSizeActive: 24px 18px,
	),
);

$genNav: (
	"video": (
		id: 1,
		bgPos: 13px 8px,
		bgPosActive: 11px 6px,
		bgSize: 21px 13px,
		bgSizeActive: 24px 18px,
	),
	"sizing": (
		id: 2,
		bgPos: 13px 8px,
		bgPosActive: 11px 7px,
		bgSize: 21px 13px,
		bgSizeActive: 25px 16px,
	),
);

$transNav: (
	"video": (
		id: 1,
		bgPos: 13px 8px,
		bgPosActive: 11px 6px,
		bgSize: 21px 13px,
		bgSizeActive: 24px 18px,
	),
	"audio": (
		id: 2,
		bgPos: 11px 5px,
		bgPosActive: 11px 5px,
		bgSize: 25px 19px,
		bgSizeActive: 25px 19px,
	),
);

@mixin setClipNav($children) {
	@each $i, $attribute in $clipNav {
		&:nth-child(#{map-deep-get($clipNav,$i,id)}) {
			background-image: url("../components/pages/cut/inspector/img/nav/#{$i}.png");
			background-position: #{map-deep-get($clipNav, $i, bgPos)};
			background-size: #{map-deep-get($clipNav, $i, bgSize)};

			&.active {
				background-image: url("../components/pages/cut/inspector/img/nav/#{$i}-active.png");
				background-position: #{map-deep-get($clipNav, $i, bgPosActive)};
				background-size: #{map-deep-get($clipNav, $i, bgSizeActive)};
			}
		}
	}
}

@mixin setTextNav($children) {
	@each $i, $attribute in $textNav {
		&:nth-child(#{map-deep-get($textNav,$i,id)}) {
			background-image: url("../components/pages/cut/inspector/img/nav/text/#{$i}.png");
			background-position: #{map-deep-get($textNav, $i, bgPos)};
			background-size: #{map-deep-get($textNav, $i, bgSize)};

			&.active {
				background-image: url("../components/pages/cut/inspector/img/nav/text/#{$i}-active.png");
				background-position: #{map-deep-get($textNav, $i, bgPosActive)};
				background-size: #{map-deep-get($textNav, $i, bgSizeActive)};
			}
		}
	}
}

@mixin setGenNav($children) {
	@each $i, $attribute in $genNav {
		&:nth-child(#{map-deep-get($genNav,$i,id)}) {
			background-image: url("../components/pages/cut/inspector/img/nav/#{$i}.png");
			background-position: #{map-deep-get($genNav, $i, bgPos)};
			background-size: #{map-deep-get($genNav, $i, bgSize)};

			&.active {
				background-image: url("../components/pages/cut/inspector/img/nav/#{$i}-active.png");
				background-position: #{map-deep-get($genNav, $i, bgPosActive)};
				background-size: #{map-deep-get($genNav, $i, bgSizeActive)};
			}
		}
	}
}

@mixin setTransNav($children) {
	@each $i, $attribute in $transNav {
		&:nth-child(#{map-deep-get($transNav,$i,id)}) {
			background-image: url("../components/pages/cut/inspector/img/nav/#{$i}.png");
			background-position: #{map-deep-get($transNav, $i, bgPos)};
			background-size: #{map-deep-get($transNav, $i, bgSize)};

			&.active {
				background-image: url("../components/pages/cut/inspector/img/nav/#{$i}-active.png");
				background-position: #{map-deep-get($transNav, $i, bgPosActive)};
				background-size: #{map-deep-get($transNav, $i, bgSizeActive)};
			}
		}
	}
}

.InspectorNav-Wrapper {
	@include size(100%, 49px, flex);
	display: flex;
	justify-content: center;
	background-color: #212126;
	border-bottom: 1px solid #000;
}

.InspectorNav {
	@include size(46px, 100%);
	position: relative;
	display: block;
	float: left;

	> span {
		@include position(null, null, 7px, 0);
		font-family: "OpenSans regular";
		display: block;
		width: 100%;
		font-size: 10px;
		text-align: center;
		color: #828282;
	}

	&.active {
		&:before {
			content: "";
			@include size(40px, 2px);
			@include position(null, null, 1px, 3px);
			background-color: #e64b3d;
		}

		span {
			color: #fff;
		}
	}

	&.navClip {
		@include setClipNav($clipNav);
		background-repeat: no-repeat;
	}

	&.navText {
		@include setTextNav($textNav);
		background-repeat: no-repeat;
	}

	&.navGen {
		@include setGenNav($genNav);
		background-repeat: no-repeat;
	}

	&.navTrans {
		@include setTransNav($transNav);
		background-repeat: no-repeat;
	}
}
