// ===> VIEWER

$clipBg: (
	"clip-0",
	"clip-1",
	"clip-2",
	"clip-3",
	"clip-4",
	"clip-5",
	"clip-6",
	"clip-7",
	"clip-8",
	"clip-9",
	"clip-10",
	"clip-11",
	"clip-12",
	"clip-13",
	"clip-14",
	"clip-15",
	"clip-16",
	"clip-17",
	"clip-18",
	"clip-19",
	"clip-20",
	"clip-21",
	"clip-22",
	"clip-23",
	"clip-24",
	"clip-25"
);

$clipInterview: (
	"interview-01",
	"interview-02",
	"interview-03",
	"interview-04",
	"interview-05",
	"interview-06",
	"interview-07",
	"interview-08",
	"interview-09"
);

$scale: (
	"1": "-7px",
	"2": "10%",
	"3": "20%",
	"4": "30%",
	"5": "40%",
	"6": "60%",
	"7": "85%",
	"8": "95%",
);

//  VIEWER CUT PAGE
.ViewerCut {
	@include size(100%, calc(100% - 74px));
	background-image: url("../images/common/thumbnail/01-video-preview.png");
	background-size: contain;
	background-color: #1a1a1a;
	background-repeat: no-repeat;
	background-position: center;
}

.MediaPoolContent {
	@include size(100%, calc(100% - 74px), block);

	.breadcrumb {
		@include size(100%, 29px, flex);
		align-items: center;
		background-color: #212126;
		border-bottom: 1px solid #000;
		font-family: "Opensans Semibold";
		font-size: 11px;
		color: #fff;
		padding: 0 0 0 10px;

		span {
			position: relative;
			color: #929292;
			margin: 0 24px 0 0;

			&:after {
				content: "";
				@include size(11px);
				@include bg("../images/common/arrow_right@2x.png", no-repeat, center, 11px 11px);
				@include position(3px, -17px, null, null);
			}
		}
	}

	.clipsWrapper {
		@include size(100%, calc(100% - 29px), block);
		position: relative;
		padding: 0 0 20px 0;
		overflow: auto;

		&.none {
			display: none;
		}

		&.active {
			&:before {
				content: "";
				@include size(100%, 40px, block);
				position: fixed;
				top: 0;
				left: 0;
				box-shadow: 0px -2px 25px 0px rgba(0, 0, 0, 0.46);
			}

			&:after {
				content: "";
				@include size(100%, 40px, block);
				position: sticky;
				bottom: 0px;
				left: 0;
				box-shadow: 0px 3px 25px 0px rgba(0, 0, 0, 0.46);
			}
		}

		.non-sticky {
			@include size(calc(100% - 10px), 40px, flex);
			align-items: center;
			position: relative;
			margin: 0;
			padding: 0 0 0 35px;
			background-color: #28282d;
			z-index: 1;

			&.none {
				display: none;
			}

			h3 {
				@include font("bold", 13px, null, #929292);
				@include position(9px, null, null, 31px);

				span,
				img {
					display: inline-block;
					color: #fff;
				}

				img {
					margin: 0 5px;
				}
			}

			&:before {
				content: "";
				@include size(calc(100% - 45px), 1px, block);
				@include position(null, null, 7px, 30px);
				background-color: #3c3c3c;
			}

			&:after {
				content: "";
				@include size(10px, 40px, block);
				@include position(0, -10px, null, null);
				background-color: #28282d;
			}
		}

		.non-sticky-diaz {
			@include size(calc(100% - 6px), 40px, flex);
			align-items: center;
			margin-bottom: 1px;
			position: sticky;
			position: -webkit-sticky;
			top: 0;
			background-color: #28282d;
			z-index: 1;

			&.none {
				display: none;
			}

			h3 {
				@include font("semibold", 16px, null, #929292);
				@include position(10px, null, null, 11px);

				&.with-color {
					left: 31px;
				}

				span,
				img {
					display: inline-block;
					color: #fff;
				}

				img {
					margin: 0 5px;
				}

				&:before {
					content: "";
					@include size(20px, 40px);
					@include position(-10px, null, null, -20px);
					background-color: #28282d;
					z-index: -1;
					// border: 1px solid red;
				}
			}

			.clip-color {
				@include size(13px, 13px, block);
				position: relative;
				margin: 2px 1px 0 11px;
				float: left;
				border: 1px solid #000;
				border-radius: 50%;

				&:before {
					content: "";
					@include size(3px, 3px, block);
					@include position(3px, null,  null, 3px);
					border: 1px solid #000;
					border-radius: 50%;
					background-color: #28282d;
				}
			}

			&:after {
				content: "";
				@include size(10px, 38px, block);
				@include position(0, -10px, null, null);
				background-color: #28282d;
			}

			&.sticky2 {
				top: 0;
				bottom: -21px;

				&:nth-of-type(5) { z-index: 2; }
				&:nth-of-type(7) { z-index: 3; }
				&:nth-of-type(9) { z-index: 6; }
				&:nth-of-type(15) { z-index: 5; }
				&:nth-of-type(17) { z-index: 4; }
			}

			&.stickyCamera {
				top: 0;
				bottom: -21px;

				&.camerasticky1 { z-index: 3; }
				&.camerasticky2 { z-index: 2; }
			}

			&.stickyClipName {
				top: 0;
				bottom: -21px;

				&.clipnamesticky1 { z-index: 3; }
				&.clipnamesticky2 { z-index: 2; }
			}

			&.stickySceneShot {
				top: 0;
				bottom: -21px;

				&.scenesticky1 { z-index: 3; }
				&.scenesticky2 { z-index: 2; }
			}

			&.stickyClipColor {
				top: 0;
				bottom: -21px;

				&.clipColorsticky1 { z-index: 5; }
				&.clipColorsticky2 { z-index: 4; }
				&.clipColorsticky3 { z-index: 3; }
				&.clipColorsticky4 { z-index: 2; }
			}

			&.stickyKeyWords {
				top: 0;
				bottom: -21px;

				&.keyWordSticky1 { z-index: 5; }
				&.keyWordSticky2 { z-index: 4; }
				&.keyWordSticky3 { z-index: 3; }
			}
		}

		.sticky {
			@include size(calc(100% - 10px), 40px, flex);
			align-items: center;
			position: sticky;
			position: -webkit-sticky;
			top: 0;
			padding: 0 0 0 35px;
			background-color: #28282d;
			z-index: 1;

			&.none {
				display: none;
			}

			&.v2 {
				width: 100%;
				background-color: #212126;
				border-top: 1px solid #000;
				border-bottom: 1px solid #000;

				&:before,
				&:after {
					display: none;
				}
			}

			h3 {
				@include font("bold", 13px, null, #fff);
				@include position(9px, null, null, 31px);

				span,
				img {
					display: inline-block;
				}

				img {
					margin: 0 5px;
				}
			}

			&:before {
				content: "";
				@include size(calc(100% - 45px), 1px, block);
				@include position(null, null, 7px, 30px);
				background-color: #3c3c3c;
			}

			&:after {
				content: "";
				@include size(10px, 40px, block);
				@include position(0, -10px, null, null);
				background-color: #28282d;
			}

			&.sticky2,
			&.sticky3,
			&.sticky4 {
				top: 0;
				bottom: -20px;
			}
		}
	}

	.clipMediaPool-container {
		@include size(100%, auto, table);
		padding: 0 10px 10px 0px;

		.large-clip {
			@include size(calc(100% - 26px), 108px, block);
			float: left;
			position: relative;
			background-color: #212126;
			border: 1px solid #000;
			border-left: none;
			margin: -1px 10px 0 0;
			overflow: hidden;
			transition: all 0.2s ease-in;

			&:before, &:after {
				content: "";
				@include size(40%, 1px);
				background-color: #3e3e42;
			}

			&:before {
				@include position(53px, 10px, null, null);
			}

			&:after {
				@include position(75px, 10px, null, null);
			}

			&.active-split {
				@include size(calc((100% / 2) - 4px), 108px, inline-block);
				float: left;
				margin: -1px 0 0 0;

				&.even {
					margin-left: 0;
					border-left: none;
				}
			}

			// &.active-split-three {
			// 	@include size(calc((100% / 4) - 10px), 108px, inline-block);
			// 	float: left;
			// 	margin: 0 10px 8px 0;
			// }

			// &.active-split-four {
			// 	@include size(calc((100% / 5) - 10px), 108px, inline-block);
			// 	float: left;
			// 	margin: 0 10px 8px 0;
			// }

			&:hover {
				transition: 0.3s;
				box-shadow: inset 0px 0px 0px 2px rgba(255, 255, 255, 1);
			}

			&.active {
				box-shadow: inset 0px 0px 0px 2px rgba(230, 75, 61, 1);
			}

			> .clip-thumb {
				@include size(156px, 88px, block);
				position: relative;
				float: left;
				border: 1px solid #000;
				border-radius: 4px;
				margin: 9px;
				background-repeat: no-repeat;
				background-position: center;
				background-size: cover;
				z-index: 0;

				&:before {
					content: "";
					@include size(16px, 12px);
					@include position(null, null, 5px, 3px);
					@include bg("../images/media/thumbnail-view/thumb_audio@2x.png", no-repeat, center, 16px 12px);
				}

				@each $icon in $clipInterview {
					&.#{$icon} {
						background-image: url("../images/common/thumbnail/#{$icon}.png");
					}
				}

				.clip-color {
					@include size(9px, 9px, block);
					@include position(4px, 4px, null, null);
					border: 1px solid #000;
					border-radius: 50%;

					&.tiny {
						@include size(12px, 12px);
						margin: 6px 1px 0 8px;
					}
				}
			}

			> .clip-description {
				@include size(calc(100% - 174px), 108px, block);
				max-width: 320px;
				position: relative;
				float: left;
				margin: 0;
				z-index: 0;

				.row-description {
					@include size(calc(100% - 11px), auto, table);

					&:nth-child(1) {
						@include font(semibold, 16px, left, #fff);
						padding: 10px 0 0 0;

						&.good-take {
							@include bg("../images/common/goodtake.png", no-repeat, 100% 12px, 15px 15px);
						}
					}

					&:nth-child(2),
					&:nth-child(3),
					&:nth-child(4) {
						@include font(regular, 11px, left, #929292);
						display: grid;
						grid-template-rows: auto;
						grid-template-columns: 40% 30% 30%;

						div	{
							display: table;
							padding: 3px 0;

							&:last-child { text-align: right; }
						}
					}

					&:nth-child(3) {
						border-top: 1px solid #3e3e42;
						border-bottom: 1px solid #3e3e42;
					}
				}
			}
		}
	}
}

.SyncBinContent {
	@include size(100%, calc(100% - 74px), block);
}

.TransitionsContent {
	@include size(100%, calc(100% - 74px), block);
	overflow: scroll;

	.title {
		font-family: "Opensans Semibold";
		font-size: 14px;
		color: #fff;
		margin: 15px 0 15px 10px;
	}

	.content {
		@include size(calc(100% - 20px), auto, block);
		margin: 10px auto;
		padding: 10px 0;
		border: 1px solid #000;
		border-radius: 3px;
		clear: both;

		.row {
			@include size(100%, 32px, flex);
			align-items: center;

			span {
				display: block;
				width: calc(100% - 80px);
				float: left;
				font-family: "Opensans Regular";
				font-size: 12px;
				color: #929292;
				padding: 0;
			}

			.row-type {
				@include size(40px, 100%, block);
				float: left;

				&.transition {
					@include bg("../images/effects-library/effects_transition@2x.png", no-repeat, center, 20px 20px);
				}
			}

			.favorite-title {
				@include size(40px, 100%, block);
				float: right;
			}

			&:hover {
				span {
					color: #fff;
				}

				.row-type {
					&.transition {
						@include bg(
							"../images/effects-library/effects_transition_active@2x.png",
							no-repeat,
							center,
							20px 20px
						);
					}
				}

				.favorite-title {
					@include bg("../images/effects-library/star@2x.png", no-repeat, calc(100% - 10px) 9px, 15px 15px);
				}
			}

			&.active {
				color: #fff;
				background-color: #17181a;
			}
		}
	}
}

.TitlesContent {
	@include size(100%, calc(100% - 74px), block);
	overflow: scroll;

	.title {
		font-family: "Opensans Semibold";
		font-size: 14px;
		color: #fff;
		margin: 15px 0 15px 10px;
	}

	.content {
		@include size(calc(100% - 20px), auto, block);
		margin: 10px auto;
		padding: 10px 0;
		border: 1px solid #000;
		border-radius: 3px;
		clear: both;

		.row {
			@include size(100%, 32px, flex);
			align-items: center;

			span {
				display: block;
				width: calc(100% - 80px);
				float: left;
				font-family: "Opensans Regular";
				font-size: 12px;
				color: #929292;
				padding: 0;
			}

			.row-type {
				@include size(40px, 100%, block);
				float: left;

				&.text {
					@include bg("../images/effects-library/effects_text@2x.png", no-repeat, center, 20px 20px);
				}
				&.effects {
					@include bg("../images/effects-library/effects_generator@2x.png", no-repeat, center, 20px 20px);
				}
			}

			.favorite-title {
				@include size(40px, 100%, block);
				float: right;
			}

			&:hover {
				span {
					color: #fff;
				}

				.row-type {
					&.text {
						@include bg(
							"../images/effects-library/effects_text_active@2x.png",
							no-repeat,
							center,
							20px 20px
						);
					}
					&.effects {
						@include bg(
							"../images/effects-library/effects_generator_active@2x.png",
							no-repeat,
							center,
							20px 20px
						);
					}
				}

				.favorite-title {
					@include bg("../images/effects-library/star@2x.png", no-repeat, calc(100% - 10px) 9px, 15px 15px);
				}
			}

			&.active {
				color: #fff;
				background-color: #17181a;
			}
		}
	}
}

.EffectsContent {
	@include size(100%, calc(100% - 74px), block);
	overflow: scroll;

	.title {
		font-family: "Opensans Semibold";
		font-size: 14px;
		color: #fff;
		margin: 15px 0 15px 10px;
	}

	.content {
		@include size(calc(100% - 20px), auto, block);
		margin: 10px auto;
		padding: 10px 0;
		border: 1px solid #000;
		border-radius: 3px;
		clear: both;

		.accordion {
			@include size(calc(100% - 20px), 26px, block);
			font-family: "Opensans Semibold";
			font-size: 14px;
			color: #fff;
			margin: 0 auto 15px auto;
			padding: 2px 0 0 3px;
			border-bottom: 1px solid #3c3c3c;

			.title-effects {
				display: block;
				float: left;
				font-family: "Opensans Semibold";
				font-size: 14px;
				color: #929292;
			}

			.toggle-effects {
				display: none;
				float: right;
				font-family: "Opensans Semibold";
				font-size: 14px;
				color: #fff;

				&:before {
					content: "Open";
				}

				&.active {
					&:before {
						content: "Close";
					}
				}
			}

			&:hover {
				.toggle-effects {
					display: block;
				}
			}
		}

		.row {
			@include size(100%, 32px, flex);
			align-items: center;

			span {
				display: block;
				width: calc(100% - 80px);
				float: left;
				font-family: "Opensans Regular";
				font-size: 12px;
				color: #929292;
				padding: 0;
			}

			.row-type {
				@include size(40px, 100%, block);
				float: left;

				&.gpu {
					@include bg("../images/effects-library/gpu_accel_open_fx@2x.png", no-repeat, center, 20px 20px);
				}
				&.audio {
					@include bg("../images/effects-library/effects_audio@2x.png", no-repeat, center, 20px 20px);
				}
			}

			.favorite-title {
				@include size(40px, 100%, block);
				float: right;
			}

			&:hover {
				span {
					color: #fff;
				}

				.row-type {
					&.gpu {
						@include bg(
							"../images/effects-library/gpu_accel_open_fx_active@2x.png",
							no-repeat,
							center,
							20px 20px
						);
					}
					&.audio {
						@include bg(
							"../images/effects-library/effects_audio_active@2x.png",
							no-repeat,
							center,
							20px 20px
						);
					}
				}

				.favorite-title {
					@include bg("../images/effects-library/star@2x.png", no-repeat, calc(100% - 10px) 9px, 15px 15px);
				}
			}

			&.active {
				color: #fff;
				background-color: #17181a;
			}
		}
	}
}

.AudioMeter {
	@include size(65px, 100%, block);
	position: relative;
	float: left;
	border-left: 1px solid #000;

	.toggle-mute {
		@include size(100%, 24px, block);
		@include position(0, null, null, 0);
		@include bg("../images/timelines/track-elements/mute@2x.png", no-repeat, center 2px, 25px 25px);

		&.active {
			background-image: url("../images/timelines/track-elements/mute_active@2x.png");
		}
	}

	.scale {
		@include size(31px, calc(100% - 92px), block);
		@include position(35px, null, 57px, 0px);
		font-family: "opensans regular";
		font-size: 9px;

		div {
			width: 100%;
			position: absolute;
			text-align: right;

			@each $id, $percent in $scale {
				&:nth-child(#{$id}) {
					top: #{$percent};
				}
			}
		}
	}

	.meter {
		@include size(19px, calc(100% - 92px), block);
		@include position(35px, 10px, 57px, null);
		@include bg("../images/popups/media-pool/meters.png", no-repeat, 0 bottom, 23px 393px);

		background-color: #28282e;
		border: 1px solid #000;

		&:before {
			content: "";
			@include size(1px, 100%);
			@include position(0, null, null, calc(50% - 1px));
			background-color: #000;
			z-index: 2;
		}

		&:after {
			content: "";
			@include size(100%, 60%, block);
			@include position(0, null, null, 0);
			background-color: #17181a;
			z-index: 1;
		}
	}

	.resizeHandle {
		@include size(100%, 44px, block);
		@include position(null, null, 0, 0);
		@include bg("../images/common/resize_handle@2x.png", no-repeat, center, 30px 30px);
		border-top: 1px solid #000;

		&:hover {
			background-image: url("../images/common/resize_handle_hover@2x.png");
		}
	}
}
