
// ===> VIEWER

$clipBg: (
	'clip-0',
	'clip-1',
	'clip-2',
	'clip-3',
	'clip-4',
	'clip-5',
	'clip-6',
	'clip-7',
	'clip-8',
	'clip-9',
	'clip-10',
	'clip-11',
	'clip-12',
	'clip-13',
	'clip-14',
	'clip-15',
	'clip-16',
	'clip-17',
	'clip-18',
	'clip-19',
	'clip-20',
	'clip-21',
	'clip-22',
	'clip-23',
	'clip-24',
	'clip-25',
);

$scale: (
	'1':'-7px',
	'2':'10%',
	'3':'20%',
	'4':'30%',
	'5':'40%',
	'6':'60%',
	'7':'85%',
	'8':'95%',
);

.ViewerCut {
	@include size(100%, calc(100% - 74px));
	background-image: url('../images/common/viewer_image.png');
	background-size: contain;
	background-color: #1A1A1A;
	background-repeat: no-repeat;
	background-position: center;
}

//  VIEWER CUT PAGE
.MediaPoolContent {
	@include size(100%, calc(100% - 74px), block);

	.breadcrumb {
		@include size(100%, 29px, flex);
		align-items: center;
		background-color: #212126;
		border-bottom: 1px solid #000;
		font-family: 'Opensans Semibold';
		font-size: 11px;
		color: #fff;
		padding: 0 0 0 10px;
	}

	.clipsWrapper {
		@include size(100%, calc(100% - 29px), block);
		position: relative;
		padding: 20px 0 20px 20px;
		overflow: auto;

		.top-shadown {
			@include size(100%, 40px, block);
			position: fixed;
			top: 104px;
			left: 0;
			box-shadow: 0px -2px 25px 0px rgba(0,0,0,0.46);
		}

		&.active {
			&:before {
				content: "";
				@include size(100%, 40px, block);
				position: fixed;
				top: 0;
				left: 0;
				box-shadow: 0px -2px 25px 0px rgba(0,0,0,0.46);
			}

			&:after {
				content: "";
				@include size(100%, 40px, block);
				position: sticky;
				bottom: 0px;
				left: 0;
				box-shadow: 0px 3px 25px 0px rgba(0,0,0,0.46);
			}
		}

		.sticky-container {
			@include size(calc(100% - 10px), auto, table);
			position: relative;
			padding: 10px 0 10px 0;
			z-index: 0;
		}

		.sticky-shadown {
			@include size(100%, 40px, block);
			position: sticky;
			top: 0;
			box-shadow: 0px 6px 27px 0px rgba(0,0,0,0.46);
		}

		.non-sticky {
			@include size(calc(100% - 10px), 40px, flex);
			align-items: center;
			position: relative;
			margin: 0;
			padding: 0 0 0 35px;
			background-color: #28282D;
			z-index: 1;

			&.none { display: none; }

			h3 {
				@include font('bold', 13px, null, #929292);
				@include position(9px, null, null, 31px);

				span, img { display: inline-block; color: #fff; }

				img { margin: 0 5px; }
			}

			&:before {
				content: "";
				@include size(calc(100% - 45px), 1px, block);
				@include position(null, null, 7px, 30px);
				background-color: #3C3C3C;
			}

			&:after {
				content: "";
				@include size(10px, 40px, block);
				@include position(0, -10px, null, null);
				background-color: #28282D;
			}
		}

		.sticky {
			@include size(calc(100% - 10px), 40px, flex);
			align-items: center;
			position: sticky;
			position: -webkit-sticky;
			top: 0;
			padding: 0 0 0 35px;
			background-color: #28282D;
			z-index: 1;

			&.none { display: none; }

			&.v2 {
				width: 100%;
				background-color: #212126;
				border-top: 1px solid #000;
				border-bottom: 1px solid #000;

				&:before, &:after { display: none; }
			}

			h3 {
				@include font('bold', 13px, null, #fff);
				@include position(9px, null, null, 31px);

				span, img { display: inline-block; }

				img { margin: 0 5px; }
			}

			&:before {
				content: "";
				@include size(calc(100% - 45px), 1px, block);
				@include position(null, null, 7px, 30px);
				background-color: #3C3C3C;
			}

			&:after {
				content: "";
				@include size(10px, 40px, block);
				@include position(0, -10px, null, null);
				background-color: #28282D;
			}

			&.sticky2,
			&.sticky3,
			&.sticky4 {
				top: 0;
				bottom: -20px;
			}
		}
	}

	.clipMediaPool {
		@include size(102px, 87px, block);
		float: left;
		// margin: 0 35px 15px 0;
		// margin: 0 29px 15px 0;
		margin: 0 18px 4px 0;

		>.clip {
			@include size(100px, 62px, block);
			position: relative;
			border: 1px solid #000;
			border-radius: 3px;
			background-image: url('../images/popups/media-pool/clip.png');
			background-repeat: no-repeat;
			background-position: center;
			background-size: cover;

			@each $icon in $clipBg {
				&.#{$icon} {
					background-image: url('../images/popups/media-pool/#{$icon}.png');
				}
			}

			&:before {
				content: "";
				@include size(16px, 12px, block);
				@include position(null, null, 5px, 5px);
				@include bg('../images/media/thumbnail-view/thumb_audio@2x.png', no-repeat, center, 16px 12px);
			}

			&:hover {
				transition: .3s;
				box-shadow: 0px 0px 0px 2px rgba(255,255,255,1);

				&:after {
					content: "";
					@include size(16px, 12px, block);
					@include position(null, 5px, 5px, null);
					@include bg('../images/media/thumbnail-view/info_popup@2x.png', no-repeat, center, 16px 12px);
				}
			}

			&.gameplay {
				background-image: url('../images/popups/media-pool/clip-22.png');
			}

			&.active {
				box-shadow: 0px 0px 0px 2px rgba(230,75,61,1);
			}
		}

		> .clip-title {
			@include size(100%, 20px, block);
			font-family: "opensans regular";
			margin: 3px 0 0 0;
			text-align: center;
			font-size: 11px;
			overflow: hidden;
		}
	}
}

.SyncBinContent {
	@include size(100%, calc(100% - 74px), block);
}

.TransitionsContent {
	@include size(100%, calc(100% - 74px), block);
	overflow: scroll;

	.title {
		font-family: 'Opensans Semibold';
		font-size: 14px;
		color: #fff;
		margin: 15px 0 15px 10px;
	}

	.content {
		@include size(calc(100% - 20px), auto, block);
		margin: 10px auto;
		padding: 10px 0;
		border: 1px solid #000;
		border-radius: 3px;
		clear: both;

		.row {
			@include size(100%, 32px, flex);
			align-items: center;

			span {
				display: block;
				width: calc(100% - 80px);
				float: left;
				font-family: 'Opensans Regular';
				font-size: 12px;
				color: #929292;
				padding: 0;
			}

			.row-type {
				@include size(40px, 100%, block);
				float: left;

				&.transition { @include bg('../images/effects-library/effects_transition@2x.png', no-repeat, center, 20px 20px); }
			}

			.favorite-title {
				@include size(40px, 100%, block);
				float: right;
			}

			&:hover {
				span { color: #fff; }

				.row-type {
					&.transition { @include bg('../images/effects-library/effects_transition_active@2x.png', no-repeat, center, 20px 20px); }
				}

				.favorite-title {
					@include bg('../images/effects-library/star@2x.png', no-repeat, calc(100% - 10px) 9px, 15px 15px);
				}
			}

			&.active {
				color: #fff;
				background-color: #17181A;
			}
		}
	}
}

.TitlesContent {
	@include size(100%, calc(100% - 74px), block);
	overflow: scroll;

	.title {
		font-family: 'Opensans Semibold';
		font-size: 14px;
		color: #fff;
		margin: 15px 0 15px 10px;
	}

	.content {
		@include size(calc(100% - 20px), auto, block);
		margin: 10px auto;
		padding: 10px 0;
		border: 1px solid #000;
		border-radius: 3px;
		clear: both;

		.row {
			@include size(100%, 32px, flex);
			align-items: center;

			span {
				display: block;
				width: calc(100% - 80px);
				float: left;
				font-family: 'Opensans Regular';
				font-size: 12px;
				color: #929292;
				padding: 0;
			}

			.row-type {
				@include size(40px, 100%, block);
				float: left;

				&.text 		{ @include bg('../images/effects-library/effects_text@2x.png', no-repeat, center, 20px 20px); }
				&.effects 	{ @include bg('../images/effects-library/effects_generator@2x.png', no-repeat, center, 20px 20px); }
			}

			.favorite-title {
				@include size(40px, 100%, block);
				float: right;
			}

			&:hover {
				span { color: #fff; }

				.row-type {
					&.text 		{ @include bg('../images/effects-library/effects_text_active@2x.png', no-repeat, center, 20px 20px); }
					&.effects 	{ @include bg('../images/effects-library/effects_generator_active@2x.png', no-repeat, center, 20px 20px); }
				}

				.favorite-title {
					@include bg('../images/effects-library/star@2x.png', no-repeat, calc(100% - 10px) 9px, 15px 15px);
				}
			}

			&.active {
				color: #fff;
				background-color: #17181A;
			}
		}
	}
}

.EffectsContent {
	@include size(100%, calc(100% - 74px), block);
	overflow: scroll;

	.title {
		font-family: 'Opensans Semibold';
		font-size: 14px;
		color: #fff;
		margin: 15px 0 15px 10px;
	}

	.content {
		@include size(calc(100% - 20px), auto, block);
		margin: 10px auto;
		padding: 10px 0;
		border: 1px solid #000;
		border-radius: 3px;
		clear: both;

		.accordion {
			@include size(calc(100% - 20px), 26px, block);
			font-family: 'Opensans Semibold';
			font-size: 14px;
			color: #fff;
			margin: 0 auto 15px auto;
			padding: 2px 0 0 3px;
			border-bottom: 1px solid #3C3C3C;

			.title-effects {
				display: block;
				float: left;
				font-family: 'Opensans Semibold';
				font-size: 14px;
				color: #929292;
			}

			.toggle-effects {
				display: none;
				float: right;
				font-family: 'Opensans Semibold';
				font-size: 14px;
				color: #fff;

				&:before { content: 'Open'; }

				&.active {
					&:before { content: 'Close'; }
				}
			}

			&:hover {
				.toggle-effects { display: block; }
			}
		}

		.row {
			@include size(100%, 32px, flex);
			align-items: center;

			span {
				display: block;
				width: calc(100% - 80px);
				float: left;
				font-family: 'Opensans Regular';
				font-size: 12px;
				color: #929292;
				padding: 0;
			}

			.row-type {
				@include size(40px, 100%, block);
				float: left;

				&.gpu { @include bg('../images/effects-library/gpu_accel_open_fx@2x.png', no-repeat, center, 20px 20px); }
				&.audio { @include bg('../images/effects-library/effects_audio@2x.png', no-repeat, center, 20px 20px); }
			}

			.favorite-title {
				@include size(40px, 100%, block);
				float: right;
			}

			&:hover {
				span { color: #fff; }

				.row-type {
					&.gpu 	{ @include bg('../images/effects-library/gpu_accel_open_fx_active@2x.png', no-repeat, center, 20px 20px); }
					&.audio { @include bg('../images/effects-library/effects_audio_active@2x.png', no-repeat, center, 20px 20px); }
				}

				.favorite-title {
					@include bg('../images/effects-library/star@2x.png', no-repeat, calc(100% - 10px) 9px, 15px 15px);
				}
			}

			&.active {
				color: #fff;
				background-color: #17181A;
			}
		}
	}
}

.AudioMeter {
	@include size(65px, 100%, block);
	position: relative;
	float: left;
	border-left: 1px solid #000;

	.toggle-mute {
		@include size(100%, 24px, block);
		@include position(0, null, null, 0);
		@include bg('../images/timelines/track-elements/mute@2x.png', no-repeat, center 2px, 25px 25px);

		&.active {
			background-image: url('../images/timelines/track-elements/mute_active@2x.png');
		}
	}

	.scale {
		@include size(31px, calc(100% - 92px), block);
		@include position(35px, null, 57px, 0px);
		font-family: "opensans regular";
		font-size: 9px;

		div {
			width: 100%;
			position: absolute;
			text-align: right;

			@each $id, $percent in $scale {
				&:nth-child(#{$id}) {
					top: #{$percent}
				}
			}
		}
	}

	.meter {
		@include size(19px, calc(100% - 92px), block);
		@include position(35px, 10px, 57px, null);
		@include bg('../images/popups/media-pool/meters.png', no-repeat, 0 bottom, 23px 393px);

		background-color: #28282E;
		border: 1px solid #000;

		&:before {
			content:'';
			@include size(1px, 100%);
			@include position(0, null, null, calc(50% - 1px));
			background-color: #000;
			z-index: 2;
		}

		&:after {
			content: '';
			@include size(100%, 60%, block);
			@include position(0, null, null, 0);
			background-color: #17181A;
			z-index: 1;
		}
	}

	.resizeHandle {
		@include size(100%, 44px, block);
		@include position(null, null, 0, 0);
		@include bg('../images/common/resize_handle@2x.png', no-repeat, center, 30px 30px);
		border-top: 1px solid #000;

		&:hover {
			background-image: url('../images/common/resize_handle_hover@2x.png');
		}
	}
}
