
/* OPENS SANS */

@font-face {
	font-family: 'OpenSans light';
	font-weight: 200;
	src: url('opensans-200.ttf') format('truetype');
}

@font-face {
	font-family: 'OpenSans regular';
	font-weight: 300;
	src: url('opensans-300.ttf') format('truetype');
}

@font-face {
	font-family: 'OpenSans semibold';
	font-weight: 400;
	src: url('opensans-400.ttf') format('truetype');
}

@font-face {
	font-family: 'OpenSans bold';
	font-weight: 600;
	src: url('opensans-600.ttf') format('truetype');
}
